---
title: Sportboot-Trainer-Apps
---
<main>
  <p>Die Apps sind <strong>für Android</strong> in verschiedenen Appstores
    kostenlos erhältlich:<br/>
    <a href='https://play.google.com/store/apps/dev?id=6365842529448940986'>
      Google Play</a> –
    <a href='https://www.amazon.de/s?k=Matthias+Wimmer&amp;i=mobile-apps'>
      Amazon App Store</a> –
    <a href='https://huaweimobileservices.com/appgallery/'>Huawei AppGallery</a>
  </p>

  <p>Der Sourcecode ist auf GitLab verfügbar:
    <a href='https://gitlab.com/sailtrainer'>
      https://gitlab.com/sailtrainer</a>.</p>
</main>

<aside>
  <h2>Datenschutz</h2>

  <p>Damit die Apps funktionieren, speichern sie auf dem Telefon des Nutzers wie
    oft und wann zuletzt die Fragen richtig beantwortet wurden. Weitere Daten
    werden von den Apps nicht gespeichert, es erfolgt keine Übermittlung von
    Daten an andere durch die Apps. Es sind auch <strong>keine Tracker</strong>
    in der App enthalten.</p>
</aside>

<aside>
  <img src='/images/mawis.jpeg' alt='Foto vom Autor der Apps'
        style='width: 240px; height: 240px; float: right'/>

  <h2>Letzte Blog-Einträge</h2>

  $partial("templates/post-list.html")$

  <p>…weitere Blog-Artikel stehen im <a href="/archive.html">Archiv</a>.</p>

  <div style="clear: right"></div>
</aside>
