<article>
    <section class="header">
        Geschrieben am $date$
        $if(author)$
            von $author$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
